HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/mvnw
/mvnw.cmd
/.mvn/wrapper/maven-wrapper.jar
/api-gateway/.mvn/wrapper/maven-wrapper.jar
/discovery/.mvn/wrapper/maven-wrapper.jar
/employee-service/.mvn/wrapper/maven-wrapper.jar
/employee-service-bak/.mvn/wrapper/maven-wrapper.jar
/orders/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/api-gateway/.mvn/wrapper/maven-wrapper.properties
/discovery/.mvn/wrapper/maven-wrapper.properties
/employee-service/.mvn/wrapper/maven-wrapper.properties
/employee-service-bak/.mvn/wrapper/maven-wrapper.properties
/orders/.mvn/wrapper/maven-wrapper.properties
/.mvn/wrapper/MavenWrapperDownloader.java
/api-gateway/.mvn/wrapper/MavenWrapperDownloader.java
/discovery/.mvn/wrapper/MavenWrapperDownloader.java
/employee-service/.mvn/wrapper/MavenWrapperDownloader.java
/employee-service-bak/.mvn/wrapper/MavenWrapperDownloader.java
/orders/.mvn/wrapper/MavenWrapperDownloader.java
/orders/mvnw
/orders/mvnw.cmd
/api-gateway/.mvn/wrapper/maven-wrapper.jar
/discovery/.mvn/wrapper/maven-wrapper.jar
/employee-service/.mvn/wrapper/maven-wrapper.jar
/employee-service-bak/.mvn/wrapper/maven-wrapper.jar
/orders/.mvn/wrapper/maven-wrapper.jar
/api-gateway/.mvn/wrapper/maven-wrapper.jar
/discovery/.mvn/wrapper/maven-wrapper.jar
/employee-service/.mvn/wrapper/maven-wrapper.jar
/employee-service-bak/.mvn/wrapper/maven-wrapper.jar
/orders/.mvn/wrapper/maven-wrapper.jar
